* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: aqua;
    font-size: large;
    font-family: 'Franklin Gothic Medium';
}

header {
    background-color: blue;
    padding: 10px;
}

li {
    text-decoration: none;
    list-style: none;
}

li:hover {
    color: brown;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

//visibility specs//

.q1 {
    display: block;
}

.q2 {
    display: none;
}

.q3 {
    display: none;
}

.q4 {
    display: none;
}

.q5 {
    display: none;
}