* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    justify-content: center;
}


#vid {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.survey-body {
    width: 400px;
    height: 300px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium';
    z-index: 1;
}


li {
    text-decoration: none;
    list-style: none;
}

li:hover {
        color: rgb(255, 243, 16);
        transition: 1s ease;
    }





//visibility specs before JS//

.q1 {
    display: block;
}

.q2 {
    display: none;
}

.q3 {
    display: none;
}

.q4 {
    display: none;
}

.q5 {
    display: none;
}

.thanks {
    display: none;
}