* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: aqua;
}

header {
    background-color: blue;
    padding: 10px;
}

li {
    text-decoration: none;
    list-style: none;
}

li:hover {
    color: brown;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}